// import font familly
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
//Import styles
@import "varibles";
@import "mixin";
// Basic Style
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
// Body
body {
  width: 100%;
  height: 100vh;
  background-color: var(--bg-light);
  @include flex(center, center, row);
}
.container {
  width: 350px;
  height: 600px;
  border-radius: 25px;
  background-color: var(--bg-light-1);
  .title {
    width: 100%;
    height: 100px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: var(--bg-header-light);
    @include flex(space-between, center, row);
    padding-inline: 10px;
    font-weight: bold;
    text-transform: lowercase;
    font-size: 1rem;
    h1 {
      font-family: "Poppins", sans-serif;
      color: white;
      text-transform: capitalize;
      font-size: 2rem;
    }
    img{
      cursor: pointer;
    }
  }
  .result {
    width: 100%;
    height: 100px;
    input {
      width: 100%;
      height: 100%;
      border: none;
      background-color: transparent;
      text-align: right;
      font-size: 35px;
      padding-inline: 10px;
      &:focus,
      &:active {
        outline: none;
      }
    }
  }
  .buttons {
    width: 100%;
    height: calc(500px - 159px);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding-inline: 10px;
    padding-bottom: 10px;
    .button {
      width: 70px;
      height: 70px;
      color: white;
      background-color: var(--primary-color);
      border-radius: 5px;
      font-size: 2.1rem;
      font-weight: bold;
      border: none;
      border-radius: 50%;
      cursor: pointer;
    }
    button[data-key="61"] {
      grid-row: span 2;
      background-color: (--secondary-color);
    }
  }
}
